<%- include('../partials/header') %>
<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-------Header------->
      <div class="col-lg-6">
          <div class="card-body">
              <form action="/categories" method="POST">
                <div class="card-details">
                  <h5 class="title_details">Name: </h5>
                  <input id="input_category" type="text" id="inputText" class="form-control" name="name">
                </div>
                <button type="submit" class="btn btn-info">Add Category</button>
              </form> 
          </div> 
      </div>
          <!-----Table-->
      <div class="col-lg-6">
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">All categories</th>
              </tr>
            </thead>
        
            <tbody>
              <% categories.forEach(function(c) { %>
              <tr>
                  <th scope="row"><%= c.name %></th>
                <% }) %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-----------LIST GROUPED CATEGORY-->
<section>
    <div>
        <p class="title">Expense summery</p>
    </div>
</section>


<%- include('../partials/footer') %>








