<%- include('../partials/header') %>

<form id="new-form" action="/incomes" method="POST">
  <div id="header">
    <h1>Add Income</h1>
  </div>
  <label>Name:</label>
  <input type="text" name="name">
  <label>Date:</label>
  <input type="text" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" placeholder="yyyy-mm-dd" name="date">
  <label>Amount:</label>
  <input type="number" name="amount">

  <input class="add" type="submit" value="Add Income">

</form>

<form  action="/expenses">
  <input class="close"  type="submit" value="Close">
</form>





<%- include('../partials/footer') %>