/*---------LOGOUT PAGE-------------*/
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
}
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

#login {
    margin-top: 30px;
    color: white;
    font-size: 20px;
}
  
@media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
}
/*---------HOME PAGE-------------*/
/*---------Navbar----------*/



/* #login_title {
    background-color:  rgb(116, 119, 123);
    color: white;
    margin: 150px auto;
    padding: 80px 150px 100px;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 20px;
} */

 



/*---------LOGIN PAGE-------------*/

/* a {
    text-decoration: none;
    margin-top: 8px;
}

img {
    height: 30px;
    margin-right: 10px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(196, 193, 193);
}
  
li a {
    float: right;
    text-decoration: none;
    margin: 10px;
    color: white;
}


p {
    color: white;
    margin-left: 20px;
}

li a:hover:not(.active) {
    color: #111;
}

.active {
    color: black;
}

.balance {
    background-color: white;
    font-size: 40px;
    box-shadow: 5px 5px rgb(128, 126, 126);
    border-radius: 10px;
    margin: auto;
    width: 400px;
    margin-top: 50px;
    font-size: 60px;
}

section{
    display: flex;
    margin: auto 90px;
    align-content:space-between;
    
} 

table {
    border-collapse: collapse;
}

.list {
    background-color: gray;
    padding-bottom: 16px;
    border-bottom: 1px solid gray;
}

.total {
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
}

.tables { 
    background-color: white;
    width: 500px;
    border: 10px solid gray;
    border-radius: 4px;
    margin: auto;
    box-shadow: 5px 5px 5px 5px white;
}

table thead th {
    padding: 16px;
    font-size: 20px;
}
  
table td {
    /* border-bottom: 1px solid #424748; */
    /* text-align: center;
    padding: 10px;   
}

tbody td{
    border-bottom: 1px solid lightgray;
}

td a {
    background: url("images/add.png");
}

.details{
    background: url("images/details.png");
}

h6 {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}  */

/*---------ADD EXPENSE/INCOME-------------*/
/* #new-form {
    background-color: white;
    display: grid;
    border-radius: 3px;
    justify-content: center;
    width: 450px;
    margin: 50px auto;
    padding: 30px 10px 50px 10px;
}

input {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid lightgray;
    margin: 10px 20px 10px 20px;
    font-size: 12px;
    
}

label {
    margin: 10px 20px 10px 20px;
}

.add {
    width: 90px;
    margin: 50px 0px 10px 230px;
    background-color: gray;
    color: white;
}

#plus_link {
    margin-top:-1px;
} */

/*---------INCOME DETAILS-------------*/
/* #show-page {
    background-color: white;
    display: grid;
    border: 1px solid gray;
    border-radius: 3px;
    justify-content: center;
    width: 500px;
    margin: 50px auto;
    padding: 30px 10px 50px 10px;
}

.field {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid lightgray;
    margin: 10px 20px 10px 20px;
    font-size: 13px;
    padding: 10px;
}

#comment_field {
    font-size: 15px;
    border: 2px solid black;
    width: 300px;
    height: 30px;
}

textarea {
    width: 370px;
    height: 100px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 30px 5px 5px 30px;
}

.addC {
    width: 90px;
    margin: 10px 12px 20px 300px;
    background-color: gray;
    color: white;
}

#line {
    margin: 20px 0px 10px 0px;
    border: 2px solid lightgray;
} */

/*---------EXPENSE DETAILS-------------*/
/* #header {
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

#category-display{
    display: flex;
}

select {
    width: 200px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid lightgray;
    margin: 10px 20px 10px 20px;
    font-size: 13px;
    padding: 10px;
}

.addS {
    width: 90px;
    margin: 10px 12px 20px;
    background-color: gray;
    color: white;
} */

/*---------CLOSE------------*/
/* .close {
    float: right;
    width: 90px;
    margin: auto 450px;
    background-color: white;
    color: gray;
} */ 